<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark m-4">
    <a class="navbar-brand" href="#">Online Book Store Management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav" *ngIf="!normal && !admin">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="register">Register</a>
        </li>
      </ul>

      <ul class="navbar-nav" *ngIf="normal && !admin">
        <li class="nav-item">
          <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="editprofile()">Edit Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="showbuybook">Show All Buy Books</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" (click)="userlogout()">Logout</a>
        </li>
      </ul>

      <ul class="navbar-nav" *ngIf="!normal && admin">
        <li class="nav-item">
          <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="showuser">Show Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="addauthor">Add Author</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="addbook">Add Book</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" (click)="adminlogout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>


  <router-outlet></router-outlet>


  <footer class="footer bg-dark text-white text-center m-4">
    <div class="container py-3">
      &copy; 2023 Online Book Store Management System. All rights reserved.
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>